{% extends 'base.html.twig' %}
{% block html %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/jquery.fileupload.css')}}" rel="stylesheet">
    {% endblock  %}

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>轮播管理</h5>
                        <div class="ibox-tools">

                        </div>

                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-2">
                                <button type="button" id="refresh" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                                <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#links_add_modal"> 创建</button>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>

                        <div class="project-list">

                            <table class="table table-hover">
                                <tbody>
                                {% for carousel in carousels |sort|reverse %}
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">{{ carousel.isPublic | isTop}}</span>
                                        </td>
                                        <td class="project-title">
                                        </td>
                                        <td>
                                            {% if carousel.pic %}
                                                <img src="{{ asset('/uploads/carousel/'~ carousel.pic) }}" width="120" height="60">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ carousel.url }}" target="_blank">{{ carousel.url }}</a>
                                        </td>
                                        <td class="project-actions">
                                            {% if carousel.isPublic %}
                                                <button  class="btn btn-white btn-sm cancel_top_links_btn" name="{{ carousel.id }}"> 取消推荐 </button>
                                            {% else %}
                                                <button  class="btn btn-white btn-sm top_links_btn" name="{{ carousel.id }}"> 推荐到首页 </button>
                                            {% endif %}
                                            <button  class="btn btn-white btn-sm remove_links_btn" name="{{ carousel.id }}"> 删除 </button>
                                        </td>
                                    </tr>

                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 添加新闻按钮点击之后弹出 -->
    <div class="modal fade" id="links_add_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:960px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="carousel_add_form">
                        <div class="form-group">
                            <input name="url" type="url" placeholder="请输入链接如:http://www.tangwaitang.cn" class="form-control"
                                   id="carousel_add_url"
                                   required=""
                                   maxlength="100"
                                   minlength="2"
                            >
                        </div>
                        <div class="form-group">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>上传轮播图片</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>
                            <div>图片格式为jpg,png,图片不得超过100kb</div>
                            <br>
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>
                            <div id="file_path"></div>
                            <input id="file_name" type="hidden" name="pic">
                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    {{ include('common/loading.html.twig') }}

    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/plugins/uploader/jquery.ui.widget.js')}}"></script>
        <script src="{{ asset('js/plugins/uploader/jquery.iframe-transport.js')}}"></script>
        <script src="{{ asset('js/plugins/uploader/jquery.fileupload.js')}}"></script>
        <script src="{{ asset('js/plugins/uploader/jquery.fileupload-process.js')}}"></script>
        <script src="{{ asset('js/plugins/uploader/jquery.fileupload-validate.js')}}"></script>
        <script src="{{ asset('js/carousel.js')}}"></script>
    {% endblock  %}
</body>
{% endblock %}

