{% extends 'base.html.twig' %}
{% block html %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock  %}

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>评价管理</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-3">
                                <button type="button" id="refresh" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                                <button  class="btn btn-primary btn-sm" id="create_evaluation" data-toggle="modal" data-target="#evaluation_create_modal"> 创建新评价</button>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入项目名称" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                        </div>

                        <div class="project-list">

                            <table class="table table-hover">
                                <tbody>
                                {% for evaluation in evaluations %}
                                    <tr>
                                        <td class="project-status">
                                            {% if evaluation.isStarted %}
                                                <span class="label label-primary">已开放</span>
                                                {% else %}
                                                <span class="label label-danger">未开放</span>
                                            {% endif %}

                                        </td>
                                        <td class="project-title">

                                            <a href="project_detail.html">{{ evaluation.title }}</a>
                                        </td>
                                        <td class="project-completion">
                                            <small>创建于 {{ evaluation.createdTime|date("Y-m-d") }}</small>
                                        </td>
                                        <td class="project-actions">
                                            <a  href="{{ path('get_evaluation_detail',{'id':evaluation.id}) }}" class="btn btn-white btn-sm"> 评价详情 </a>
                                            {% if evaluation.isStarted %}
                                                <button  class="btn btn-white btn-sm start_evaluation_btn" name="{{ evaluation.id }}"> 关闭 </button>
                                            {% else %}
                                                <button  class="btn btn-white btn-sm start_evaluation_btn" name="{{ evaluation.id }}"> 开放 </button>
                                            {% endif %}

                                            <button  data-toggle="modal" data-target="#evaluation_edit_modal" class="btn btn-white btn-sm edit_group_btn"  id="{{ evaluation.id }}" name="{{ evaluation.title }}"> 编辑</button>
                                            <button  class="btn btn-white btn-sm remove_group_btn" name="{{ evaluation.id }}"> 删除 </button>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 查看按钮点击之后弹出 -->
    <div class="modal fade" id="group_details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table id="group_detail">
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 添加小组按钮点击之后弹出 -->
    <div class="modal fade" id="evaluation_create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="evaluation_add_form">
                        <div class="form-group">
                            <input name="name" type="text" placeholder="请输入评价名称" class="form-control"
                                   id="evaluation_add_name"
                                   required=""
                                   maxlength="20"
                                   minlength="2"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 修改小组按钮点击之后弹出 -->
    <div class="modal fade" id="evaluation_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="evaluation_edit_form">
                        <div class="form-group">
                            <input type="hidden" id="evaluation_edit_id" name="id">
                            <input name="name" type="text" placeholder="请输入评价名称" class="form-control"
                                   id="evaluation_edit_name"
                                   required=""
                                   maxlength="20"
                                   minlength="2"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    {{ include('common/loading.html.twig') }}

    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/evaluation.js')}}"></script>
    {% endblock  %}
</body>
{% endblock %}

