{% extends 'base.html.twig' %}
{% block html %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/jquery.fileupload.css')}}" rel="stylesheet">
        <style>
            .label {
                font-weight: 200;
            }
            #question_show_answers p{
                display:inline-block;
            }
        </style>
    {% endblock  %}

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5><span id="question_type">单选题</span> | {{ course.name }}</h5>
                        {{ include('common/question-nav.html.twig') }}
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-4">
                                <a href="{{ path('course') }}" type="button" id="pre" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> 返回</a>
                                <button type="button" id="refresh" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                                <button  class="btn btn-primary btn-sm" id="add_single_btn" data-toggle="modal" data-target="#add_single_modal" name="{{ course.id }}"> 创建单选题</button>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入项目名称" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                        </div>

                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                {% for question in questions %}
                                    <tr>
                                        <td class="project-status">
                                            {% if question.questionLevel == '0' %}
                                                <span class="label label-primary"> {{ question.questionLevel|level }}</span>
                                            {% elseif question.questionLevel == '1'%}
                                                <span class="label label-warning">{{ question.questionLevel|level}}</span>
                                            {% else %}
                                                <span class="label label-danger"> {{ question.questionLevel|level }}</span>
                                            {% endif %}

                                        </td>
                                        <td>

                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html"> {{ question.questionTitle|raw }}</a>
                                            <small>创建于{{ question.createdTime|date("Y-m-d") }} </small>
                                        </td>
                                        <td class="project-completion">
                                           <span class="label label-primary"></span>
                                            <span class="label label-primary"></span>
                                        </td>
                                        <td class="project-actions">
                                            <button data-toggle="modal" data-target="#question_show_modal" class="btn btn-white btn-sm" name="{{ question.id }}"> 查看 </button>
                                            <button  data-toggle="modal" data-target="#question_edit_modal" class="btn btn-white btn-sm question_edit_btn"  id="" name="{{ question.id }}"> 编辑</button>
                                            <button  class="btn btn-white btn-sm question_remove_btn" name="{{ question.id }}"> 删除 </button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                    </tbody>
                                </table>
                            <div class="navigation text-center">
                                {{ knp_pagination_render(questions) }}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 查看按钮点击之后弹出 -->
    <div class="modal fade" id="question_show_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y:auto">
        <div class="modal-dialog" style="width:500px; ">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loading_data">数据加载中...</div>
                    <div id="question_show_title"></div>
                    <div id="question_show_answers"></div>
                    <div id="question_answer"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 添加课程按钮点击之后弹出 -->
    <div class="modal fade" id="add_single_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:960px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="add_single_form">
                        {% include 'form/radio.html.twig' %}
                        <div class="form-group">
                            <textarea id="question_title" cols="10" rows="1" class="ckeditor" placeholder="请输入题目..." required=""></textarea>
                        </div>
                        <div id="answer_options">
                        <div class="form-group">
                            <textarea id="question_answer_1" cols="20" rows="1" class="ckeditor" placeholder="请输入选项A..."></textarea>
                            <label class="checkbox-inline" style="font-size: 16px;color: #0a6aa1;">【选项
                                <input type="radio" name="question_answer" id="A"  value="A" checked> A】
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="question_answer_2" cols="20" rows="1" class="ckeditor" placeholder="请输入选项B..." ></textarea>
                            <label class="checkbox-inline" style="font-size: 16px;color: #0a6aa1;">【选项
                                <input type="radio" name="question_answer" id="B"  value="B"> B】
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="question_answer_3" cols="20" rows="1" class="ckeditor" placeholder="请输入选项C..." ></textarea>
                            <label class="checkbox-inline" style="font-size: 16px;color: #0a6aa1;">【选项
                                <input type="radio" name="question_answer" id="C"  value="C"> C】
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="question_answer_4" cols="20" rows="1" class="ckeditor" placeholder="请输入选项D..." ></textarea>
                            <label class="checkbox-inline" style="font-size: 16px;color: #0a6aa1;">【选项
                                <input type="radio" name="question_answer" id="D"  value="D"> D】
                            </label>
                        </div>
                        </div>
                        <a class="btn btn-primary" style="float: right" id="more_options">更多选项</a>
                        <button type="submit" class="btn btn-primary" id="answer_submit">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 修改课程按钮点击之后弹出 -->
    <div class="modal fade" id="question_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y:auto">
        <div class="modal-dialog" style="width:960px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="question_edit_form">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="radio" name="question_edit_level"  value="0"  style="font-size: 16px;color: #0a6aa1;"> 简单
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="question_edit_level"   value="1" style="font-size: 16px;color: #0a6aa1;"> 中等
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="question_edit_level"   value="2" style="font-size: 16px;color: #0a6aa1;"> 困难
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="question_edit_title" cols="10" rows="1" class="ckeditor" placeholder="请输入题目..."></textarea>
                        </div>
                        <div id="question_edit_answers_content">

                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    {{ include('common/loading.html.twig') }}

    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js')}}"></script>
        <script src="{{ asset('js/questions.js')}}"></script>
    {% endblock  %}
</body>
{% endblock %}

