{% extends 'base.html.twig' %}
{% block html %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/jquery.fileupload.css')}}" rel="stylesheet">
    {% endblock  %}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>教师管理|导师管理</h5>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>学校教师</a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-2" id="advisor_tab"> <i class="fa fa-briefcase"></i>企业导师</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">

                                    <!-- Example Toolbar -->
                                    <div class="example-wrap">
                                        <div class="example">
                                            <div class="btn-group hidden-xs" id="teacher_toolbar" role="group">
                                                <button type="button" class="btn btn-outline btn-default" data-toggle="modal"  href="form_basic.html#modal-form">
                                                    <a ><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="refresh">
                                                    <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="teacher_remove">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="teacher_import"
                                                        title="上传excel" data-toggle="modal" href="form_basic.html#teacher_upload"
                                                >
                                                    <a> <i class="glyphicon glyphicon-open" aria-hidden="true"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="teacher_export">
                                                    <a href="/admin/teacher/export"> <i class="glyphicon glyphicon-save" aria-hidden="true"></i></a>
                                                </button>
                                            </div>
                                            <table id="teacher" class="table_upload"></table>
                                        </div>
                                    </div>

                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="example-wrap">
                                        <div class="example">
                                            <div class="btn-group hidden-xs" id="advisor_toolbar" role="group">
                                                <button type="button" class="btn btn-outline btn-default" data-toggle="modal"  href="form_basic.html#advisor_modal_form">
                                                    <a ><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="advisor_refresh">
                                                    <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="advisor_remove">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="advisor_import"
                                                        title="上传excel" data-toggle="modal" href="form_basic.html#teacher_upload"
                                                >
                                                    <a> <i class="glyphicon glyphicon-open" aria-hidden="true"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-outline btn-default" id="advisor_export">
                                                    <a href="/admin/advisor/export"> <i class="glyphicon glyphicon-save" aria-hidden="true"></i></a>
                                                </button>
                                            </div>
                                            <table id="advisor" class="table_upload"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增教师</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="teacher_add_form">
                        {{ include('form/fields.html.twig') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="advisor_modal_form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增导师</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="advisor_add_form">
                        {{ include('form/fields.html.twig') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="teacher_upload" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">上传</h4>
                </div>
                <div class="modal-body">
                     <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                        <span>选择文件</span>

                         <!-- The file input field used as target for the file upload widget -->
                 <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                    <div>文件格式为xls,xlsx,文件不得超过500kb | <a href="{{ asset('excel/teacher.xls') }}" download>下载样表</a></div>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>

                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('common/loading.html.twig') }}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/uploader/jquery.ui.widget.js')}}"></script>
    <script src="{{ asset('js/plugins/uploader/jquery.iframe-transport.js')}}"></script>
    <script src="{{ asset('js/plugins/uploader/jquery.fileupload.js')}}"></script>
    <script src="{{ asset('js/plugins/uploader/jquery.fileupload-process.js')}}"></script>
    <script src="{{ asset('js/plugins/uploader/jquery.fileupload-validate.js')}}"></script>
    <script src="{{ asset('js/uploader.js')}}"></script>
    <script src="{{ asset('js/teacher.js')}}"></script>
    <script src="{{ asset('js/advisor.js')}}"></script>
{% endblock  %}
</body>
{% endblock %}

